.cache
npm-debug.log
node_modules
packages/**/pkg
packages/**/dist
packages/**/coverage
packages/**/node_modules
lerna-debug.log

.next
.DS_Store
out
.env.local
.env

#IDES
**/.idea/**
.idea
/.idea
.vscode/**
**/.vscode/**
.vscode
/.vscode
yarn.lock
package-lock.json
